<!doctype html>
<!-- The Time Machine GitHub pages theme was designed and developed by Jon Rohan, on Feb 7, 2012. -->
<!-- Follow him for fun. http://twitter.com/jonrohan. Tail his code on http://github.com/jonrohan -->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <link rel="stylesheet" href="stylesheets/stylesheet.css" media="screen">
  <link rel="stylesheet" href="stylesheets/pygment_trac.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="javascripts/script.js"></script>

  <title>Django maskurl</title>
  <meta name="description" content="Masking url&#39;s on templates not to show exact path, hiding them all or part of all for tracing.">

  <meta name="viewport" content="width=device-width,initial-scale=1">

</head>

<body>

  <div class="wrapper">
    <header>
      <h1 class="title">Django maskurl</h1>
    </header>
    <div id="container">
      <p class="tagline">Masking url&#39;s on templates not to show exact path, hiding them all or part of all for tracing.</p>
      <div id="main" role="main">
        <div class="download-bar">
        <div class="inner">
          <a href="https://github.com/RedXBeard/django_maskurl/tarball/master" class="download-button tar"><span>Download</span></a>
          <a href="https://github.com/RedXBeard/django_maskurl/zipball/master" class="download-button zip"><span>Download</span></a>
          <a href="https://github.com/RedXBeard/django_maskurl" class="code">View Django maskurl on GitHub</a>
        </div>
        <span class="blc"></span><span class="trc"></span>
        </div>
        <article class="markdown-body">
          <h1>
<a name="django_maskurl" class="anchor" href="#django_maskurl"><span class="octicon octicon-link"></span></a>django_maskurl</h1>

<p><a href="https://travis-ci.org/RedXBeard/django_maskurl"><img src="https://travis-ci.org/RedXBeard/django_maskurl.svg?branch=master" alt="Build Status"></a></p>

<p>Masking url's on templates not to show exact path, hiding them all except get params.</p>

<h2>
<a name="installing" class="anchor" href="#installing"><span class="octicon octicon-link"></span></a>Installing</h2>

<pre><code>pip install django-maskurl
</code></pre>

<p>Then add <code>maskurl.middleware.UnMaskURLMiddleware</code> to the end of your <code>MIDDLEWARE_CLASSES</code>.</p>

<pre><code>MIDDLEWARE_CLASSES = (
    'dikeyshop.syncer.middlewares.SyncerMiddleware',
    'django.middleware.common.CommonMiddleware',
    'django.middleware.http.ConditionalGetMiddleware',
    'django.middleware.locale.LocaleMiddleware',
    'django.middleware.doc.XViewMiddleware',
    ...
    'maskurl.middleware.UnMaskURLMiddleware',
  )
</code></pre>

<h2>
<a name="usage" class="anchor" href="#usage"><span class="octicon octicon-link"></span></a>Usage</h2>

<p>To mask a url on a template simply at the top, before all html codes <code>{% load maskurl %}</code> line must be placed, as following;</p>

<pre><code>{% load maskurl %}
  &lt;title&gt;...
...
</code></pre>

<p>Then requested urls on that html file should be one of the following formats;</p>

<pre><code>- {% url 'main' %}
- {% url 'list' 4 %}  
- {% url 'list' 'blah' %}
- {% url 'list' object.id %}  
- {% url 'list' obj1.id obj2.id %}  
- {% url 'list' obj1.name|title obj2.id|lower %}
- {{ reversed_url }}
</code></pre>

<p>Those can be converted as following;</p>

<pre><code>- {% maskurl 'main' %}
- {% maskurl 'main' 4 %}
- {% maskurl 'main' 'blah' %}
- {% maskurl 'main' object.id %}
- {% maskurl 'main' obj1.id obj2.id %}
- {% maskurl 'main' obj1.id|title obj2.id|lower %}
- {% maskurl reversed_url %}
</code></pre>

<p>get params can also be added after the closing curly bracket.</p>
        </article>
      </div>
    </div>
    <footer>
      <div class="owner">
      <p><a href="https://github.com/RedXBeard" class="avatar"><img src="https://avatars3.githubusercontent.com/u/7275194?v=2&amp;s=60" width="48" height="48"></a> <a href="https://github.com/RedXBeard">RedXBeard</a> maintains <a href="https://github.com/RedXBeard/django_maskurl">Django maskurl</a></p>


      </div>
      <div class="creds">
        <small>This page generated using <a href="http://pages.github.com/">GitHub Pages</a><br>theme by <a href="https://twitter.com/jonrohan/">Jon Rohan</a></small>
      </div>
    </footer>
  </div>
  <div class="current-section">
    <a href="#top">Scroll to top</a>
    <a href="https://github.com/RedXBeard/django_maskurl/tarball/master" class="tar">tar</a><a href="https://github.com/RedXBeard/django_maskurl/zipball/master" class="zip">zip</a><a href="" class="code">source code</a>
    <p class="name"></p>
  </div>

  
</body>
</html>
